<?xml version="1.0" encoding="UTF-8"?>
<agent-input clean='true' temporary='true'>
<uninstall modify='false'>
<offering id='com.ibm.websphere.BASE.v85' 
profile='IBM WebSphere Application Server V8.5'/>
</uninstall>
<profile id='IBM WebSphere Application Server V8.5' 
installLocation='{{ was_install_location }}'>
<data key='eclipseLocation' value='{{ was_install_location }}'/>
<data key='user.import.profile' value='false'/>
<data key='cic.selector.nl' value='en'/>
</profile>
</agent-input>